.login-main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.left-container {
    display: flex;
    width: 40%;
    padding-left: 10%;
    justify-content: center;
    align-items: center;
}
.right-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left: 5%;
    justify-content: center;
}
.login-main .login-left {
    display: flex;
    flex-direction: column;
}
.login-main .login-left .login-title {
    font-size: 48px;
    margin: 15px;
}
.login-main .login-left .login-span {
    font-size: 28px;
    margin: 15px;
}
.login-main .login-right {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    margin-right: 20%;
    box-shadow: 1px 1px 10px 1px #BEBEBE;
    width: 80%;
}
.login-main .login-right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 1px #BEBEBE;
}
.login-input {
    height: 50px;
    width: 80%;
    padding-left: 15px;
    margin: 15px;
    font-size: 18px;
    border-radius: 10px;
    border: solid 1px #BEBEBE;
}
.login-input:focus {
    outline: none !important;
    border: solid 2px var(--title-color);
}
.login-inside-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.login-inside-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.login {
    height: 50px;
    width: 80%;
    margin: 15px;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    background-color: var(--title-color);
    border: solid 1px var(--title-color);
    transition: background-color 0.2s;
}
.login-p {
    margin: 2%;
}
.login:hover {
    height: 50px;
    width: 300px;
    margin: 15px;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    background-color: #19313f;
    border: solid 1px #19313f;
    transition: background-color 0.2s;
}
.login-main .login-stock-list {
    display: flex;
    flex-direction: column;
    padding-left: 8%;
    padding-bottom: 5%;
}
.login-stock-item span {
    margin-top: 2px;
    cursor: pointer;
}
.login-stock-item span:hover {
    color: rgb(163, 0, 0);
    cursor: pointer;
}
.login-stock-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    width: 30%;
    height: 25px;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
.login-remove-icon {
    margin-top: -20px;
}
.login-stock-symbol {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 100%;
    color: var(--title-color);
}
.login-inside-left {
    width: 50%;
}
.login-inside-right {
    width: 50%;
}
.login-button-link {
    margin-top: 5%;
    width: 100%;
    text-align: center;
    border: none;
    background-color: white;
    color: var(--title-color);
}
.login-button-link:hover {
    border: none;
    background-color: white;
    color:#19313f;
    text-decoration: underline;
}
.login-button-link-2 {
    margin-top: 15px;
    text-align: center;
    border: none;
    background-color: white;
    color: var(--title-color);
}
.login-button-link-2:hover {
    border: none;
    background-color: white;
    color:#19313f;
    text-decoration: underline;
}