.loading-page {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--title-color)
}
.loading-page .column {
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.loading-page .column .column-p {
    margin: 20px;
}
.side-menu {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 1.5%;
    padding-left: 1.5%;
}
.side-menu-hidden {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -1.5%;
    background-color: rgba(17, 17, 17, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 1.5%;
    padding-left: 1.5%;
}
.div-logout{
    margin-top: 5%;
    padding-left: 20%;
    margin-right: 5%;
    border-top: solid rgb(102, 102, 102) 1px;
    border-bottom: solid rgb(102, 102, 102) 1px;
}
.menu{
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    margin-right: 5%;
    font-size: 20px;
}
.menu-item{
    font-size: 16px;
    color: rgb(218, 218, 218);
    transition: color 0.2s;
    margin-top: 10%;
    margin-bottom: 10%;
}
.menu-item:hover{
    color: white;
    cursor: pointer;
}
.main {
    display: flex;
    flex-direction: row;
    color: var(--title-color);
}
.item-list {
    max-height: 250px;
    overflow: scroll;
}
.main .left-edit {
    z-index: 100;
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #F0F2F5;
    transition: 0.8s;
    height: 600px;
}
.edit-stocks-button {
    margin-top: 1%;
    width: 50%;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    background-color: var(--title-color);
    border: solid 1px var(--title-color);
    transition: background-color 0.2s;
}
.edit-stocks-button:hover {
    background-color: #19313f;
    border: solid 1px #19313f;
}
.edit-stocks-select {
    height: 40px;
    font-size: 18px;
    width: 60%;
    border: 1px solid #19313f;
    border-radius: 10px;
    outline: none;
}
.edit-stocks-button-add {
    margin-top: 1%;
    width: 50%;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    background-color: #8d8d8d;
    border: solid 1px #8d8d8d;
    transition: background-color 0.2s;
}
.edit-stocks-button-add:hover {
    background-color: #6b6b6b;
    border: solid 1px #6b6b6b;
}
.edit-stocks-button-2 {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.edit-stocks-button-3 {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main .left {
    display: flex;
    flex-direction: column;
    width: 10%;
    transition: 0.8s;
}
.item {
    display: flex;
    padding-top: 8%;
    padding-right: 8%;
    height: 80px;
    font-size: 120%;
    color: var(--title-color);
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.item-selected {
    display: flex;
    padding-top: 8%;
    padding-right: 8%;
    height: 80px;
    font-size: 121%;
    background-color: white;
    box-shadow: 1px 1px 10px 1px #BEBEBE;
    color: var(--title-color);
    cursor: pointer;
    align-items: center;
    justify-content: center;

}
.item-edit {
    display: flex;
    height: 80px;
    padding-left: 8%;
    font-size: 120%;
    background-color: white;
    color: var(--title-color);
    align-items: center;
}
.item-edit p {
    align-items: center;
}
.item-inside {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.edit-button {
    font-size: 30px;
    padding: 5px;
    border-radius: 10px;
}
.remove-icon {
    padding-top: 4%;
    font-size: 25px;
}
.remove-icon:hover {
    cursor: pointer;
    color: rgb(226, 80, 80);
}
.edit-button:hover {
    background-color: white;
}
.main .right {
    box-shadow: 1px 1px 10px 1px #BEBEBE;
    display: flex;
    flex-direction: row;
    width: 90%;
    background-color: white;
    min-height: 500px;
}
.main .right-edit {
    display: flex;
    flex-direction: row;
    width: 70%;
    min-height: 500px;
}
.home-inside-left {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.home-inside-left-edit {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.search-bar {
    background-color: #F0F2F5;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 50px;
    align-items: center;
    text-align: center;
    box-shadow: #BEBEBE 1px 1px 10px;
}
.search-bar:hover {
    box-shadow: #858585 1px 1px 10px;
}
.search-bar .search-icon {
    width: 5%;
    font-size: 25px;
}
.search-bar .search-icon:hover {
    cursor: pointer;
}
.search-bar .search-input {
    border: 0;
    outline: 0;
    background-color: #F0F2F5;
    width: 95%;
    height: 50px;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
}
.articles {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
.articles .main-article {
    width: 100%;
    height: auto;
    min-height: 320px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: solid 2px #BEBEBE;
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.articles .main-article .main-article-left{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-right: 15px;
}
.articles .main-article .main-article-left .main-article-top{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}
.articles .main-article .main-article-left .main-article-top-top{
    width: 100%;
    height: 70%;
}
.main-article-title{
    font-size: 20px;
    font-weight: bold;
    max-height: 90px;
    overflow: hidden;
}
.main-article-title:hover{
    text-decoration: underline;
}
.main-article-title-2{
    font-size: 18px;
    font-weight: bold;
    max-height: 75px;
    overflow: hidden;
}
.main-article-title-2:hover{
    text-decoration: underline;
}
.articles .main-article .main-article-left .main-article-top-bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
}
.main-article-p{
    margin-right: 15px;
    font-size: 15px;
    color: #555555;
}
.articles .main-article .main-article-left .first-main-article-bottom{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 40%;
    margin-left: 5%;
}
.articles .main-article .main-article-left .main-article-bottom{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 40%;
    margin-left: 5%;
}
.articles .main-article .main-article-left .main-article-bottom-collapsed{
    display: none;
}
.expand-button{
    font-size: 30px;
}
.expand-button:hover{
    cursor: pointer;
}
.articles .main-article .main-article-left .main-article-bottom-top{
    display: flex;
    flex-direction: column;
}
.articles .main-article .main-article-left .main-article-bottom-bottom{
    display: flex;
    flex-direction: row;
}
.articles .main-article .main-article-right{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-between;
}
.main-image-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50%;
}
.main-article-image {
    width: 100%;
    height: 120px;
    border-radius: 10px;
}
.articles .article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    border: solid 2px #BEBEBE;
    height: 150px;
    border-radius: 10px;
    padding: 16px;
}
.articles .article .article-left {
    display: flex;
    flex-direction: column;
    width: 82%;
}
.articles .article .article-left .article-top {
    display: flex;
    flex-direction: column;
    height: 80%;
    padding-right: 5px;
}
.articles .article .article-left .article-bottom {
    display: flex;
    flex-direction: row;
    height: 20%;
}
.article-title {
    font-weight: bold;
    max-height: 75px;
    overflow: hidden;
}
.articles .article .article-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
}
.article-image {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
}
.home-inside-right {
    width: 30%;
}
.home-inside-right-edit {
    width: 0%;
}
.content .top-bar {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    font-size: 25px;
    padding: 10px;
    border-bottom: solid 3px var(--title-color);
}
.content .top-bar .top-bar-p {
    margin-bottom: 0px;
}
.content .top-bar .top-bar-span {
    font-size: 12px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}
.content .top-bar:before {
    content: "";
    margin-left: 5%;
    position: absolute;
    bottom: 0;
    height: 0;
    width: 90%;
}
.content .top-bar .top-bar-left {
    display: flex;
    width: 5%;
    height: 100%;
    margin-top: 1%;
    margin-left: 1%;
    justify-content: space-between;
}
.content .top-bar .top-bar-center {
    display: flex;
    width: 55%;
    height: 100%;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}
.content .top-bar .top-bar-right {
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: space-between;
}
.title{
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}
.title:hover{
    text-decoration: underline;
}
.a{
    text-decoration: none;
    color: rgb(54, 60, 80);
}
.a:hover{
    text-decoration: underline;
    color: rgb(32, 72, 82);
}
.time {
    font-weight: 500;
}
.menu-button{
    display: inline-block;
    cursor: pointer;
}
.bar{
    background-color: var(--title-color);
    width: 25px;
    height: 3px;
    margin: 6px 0;
}
.bar-white{
    background-color: whitesmoke;
    width: 25px;
    height: 3px;
    margin: 6px 0;
}
.empty-list-class{
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.empty-list-class-span{
    text-decoration: underline;
}
.empty-list-class-span:hover{
    cursor: pointer;
    color: black;
}
.pop-up-background {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 33%;
}
.pop-up {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 10px 1px #555555;
    border-radius: 15px;
    background-color: #d5dee4;
    width: 50%;
    height: 40%;
}
.dummy-div-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}